{% extends 'base.html' %}

{% block title %}SignUp Form {% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="text-center">Register</h2>
  <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.first_name.label(class_="form-label") }}
        {{ form.first_name(class_="form-control", autocomplete="firstname") }}
        {% for error in form.first_name.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    <div class="form-group">
      {{ form.last_name.label(class_="form-label") }}
      {{ form.last_name(class_="form-control", autocomplete="lastname") }}
      {% for error in form.last_name.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>
      <div class="form-group">
          {{ form.username.label(class_="form-label") }}
          {{ form.username(class_="form-control", autocomplete="username") }}
          {% for error in form.username.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
      <div class="form-group">
          {{ form.email.label(class_="form-label") }}
          {{ form.email(class_="form-control", autocomplete="email") }}
          {% for error in form.email.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
      <div class="form-group">
          {{ form.password.label(class_="form-label") }}
          {{ form.password(class_="form-control", autocomplete="new-password") }}
          {% for error in form.password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
      
      <div class="form-group">
          {{ form.bio.label(class_="form-label") }}
          {{ form.bio(class_="form-control", autocomplete="bio") }}
          {% for error in form.bio.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
      <div class="form-group">
        {{ form.profile_image.label(class="form-label") }}
        {{ form.profile_image(class="form-control-file") }}
        {% for error in form.profile_image.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
      </div>
      <div class="form-group">
          {{ form.submit(class_="btn btn-primary") }}
      </div>
  </form>
</div>
{% endblock %}